$buy-btn-color: #00ade4;
$btn-text-color: #fff;

.goods-item {
    display: flex;
    align-items: center;
    height: 202px;
    padding:20px 0;
    
    img {
        margin-right: 20px;
    }
}
.goods-item__text-wrap {
   margin-bottom: auto;
    h2 {
        font-size: 18px;
        font-family: Arial;
        font-weight: bold;
        margin:15px 0 5px 0;
    }
    p {
        margin: 0;
        font-size: 12px;
        font-family: Arial;
        line-height: 150%;
        max-width: 335px;
        margin-right: 15px;
    }
}
.goods-item__buy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    span {
        font-size: 24px;
        font-family: Arial;
        font-weight: bold; 
    }
    button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 40px;
        background-color: $buy-btn-color;
        font-size: 20px;
        font-family: Arial;
        font-weight: bold;
        color: $btn-text-color;
        border-radius: 8px;
        border:none;
        margin-top: 20px;
        cursor: pointer;
    }
}